@import '../../../../theme/constants.scss';
@import '../../../../theme/wrappers/wrappers.scss';
@import '../../../../theme/paragraphs/paragraphs.scss';
@import '../../../../theme/titles/titles.scss';

.image1 {
  @extend .icon-sprites;
  @include sprite($sprites-imagen-equipo-doctor-jorge);
}

.image2 {
  @extend .icon-sprites;
  @include sprite($sprites-imagen-equipo-doctor-prisicilla);
}
.paragraph3{
  color: $gray;
  margin-bottom: 50px;
}
.paragraph4{
  margin: 30px 0 80px;
}
.title5{
  margin-top: 50px;
  color: $gray;
}
.title6{
  margin-bottom: 50px;
}
.wr6{
  margin-bottom: 0;
  padding-bottom: 0;
}
@media #{$isPhone}{
  .pad0_60{
    padding: 0 25px;
  }
}

.par2 {
  b {
    font-size: inherit;
  }
}
