@font-face {
  font-family: novecentowide_regular;
  src: url("/fonts/novecentowide_regular.otf");
}
@font-face {
  font-family: novecentowide_bold;
  src: url("/fonts/novecentowide_bold.otf");
}
@font-face {
  font-family: novecentowide_demibold;
  src: url("/fonts/novecentowide_demibold.otf");
}
@font-face {
  font-family: novecentowide_light;
  src: url("/fonts/novecentowide_light.otf");
}
@font-face {
  font-family: novecentowide_book;
  src: url("/fonts/novecentowide_book.otf");
}
@font-face {
  font-family: novecentowide_medium;
  src: url("/fonts/novecentowide_medium.otf");
}
@font-face {
  font-family: opensans_regular;
  src: url("/fonts/opensans_regular.ttf");
}
@font-face {
  font-family: opensans_bold;
  src: url("/fonts/opensans_bold.ttf");
}
@font-face {
  font-family: opensans_italic;
  src: url("/fonts/opensans_italic.ttf");
}
@font-face {
  font-family: droidserif_italic;
  src: url("/fonts/droidserif_italic.ttf");
}





a:hover {
  text-decoration: none;
}
#app{
	overflow: hidden;
}

li {
  list-style-type: none;
}

*:focus {outline:0px none transparent;}

.container-fluid{
	max-width: 1024px;
}
/* este código debe pasarse a sass una vez este el setup*/
#slider_home .active{
  background-color: #04B9C9;
}
#slider_home .carousel-indicators{
  bottom: 60px;
}
.navbar-default .navbar-nav>.active>a{
  background-color: transparent!important;
  color: #04B9C9!important;
}
