@import '../../../theme/buttons/buttons';
@import '../../../theme/titles/titles';
// ---- main slider
.slider1 {
  background-size: cover;
  background-position: center right;
  height: 500px;
  margin-bottom: 65px;
}
.heightFix{
	height: 500px;
}
.btn1{
	width: 150px;
	display: block;
	margin: 0 auto;
}
// ---- la clinica banner
.clinica-banner {
  background-image: url('/images/la-clinica/banner.png');
  @extend .slider1;
}

// ---- la clinica banner
.equipo-banner {
	background-image: url('/images/equipo/banner.png');
  @extend .slider1;
}
.title7{
  margin-bottom: 40px;  
}
// --- Responsive
@media #{$isPhone}{
  .clinica-banner{
    background-position: center top;
  }
}
