@import '../../../theme/buttons/buttons';

.slider1 {
  background-size: cover;
  background-position: center top;
  height: 500px;
  h2{
  	margin-top: 0;
  }
}
.heightFix{
	height: 500px;
}

// ---- Inner service Carrousel
// dermatologia-cosmetica
.dermatologia-cosmetica-slide1 {
  background-image: url('/images/servicios/dermatologia-cosmetica/slider/slide1.png');
  @extend .slider1;
}
.dermatologia-cosmetica-slide2 {
  background-image: url('/images/servicios/dermatologia-cosmetica/slider/slide1.png');
  @extend .slider1;
}

// dermatologia-clinica
.dermatologia-clinica-slide1 {
  background-image: url('/images/servicios/dermatologia-clinica/slider/slide1.png');
  @extend .slider1;
}
.dermatologia-clinica-slide2 {
  background-image: url('/images/servicios/dermatologia-clinica/slider/slide1.png');
  @extend .slider1;
}

// tratamientos-dermatologicos
.tratamientos-dermatologicos-slide1 {
  background-image: url('/images/servicios/tratamientos-dermatologicos/slider/slide1.png');
  @extend .slider1;
}
.tratamientos-dermatologicos-slide2 {
  background-image: url('/images/servicios/tratamientos-dermatologicos/slider/slide1.png');
  @extend .slider1;
}

.title{
	color: $white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 42px;
	font-family: $fontA;
	letter-spacing: 12px;
}
