@import '../../../theme/buttons/buttons';

.slider1 {
  background-size: cover;
  background-position: center top;
  height: 500px;
  h2{
  	margin-top: 0;
  }
}

// ---- home carousel
.slide1 {
  background-image: url('/images/servicios/dermatologia-cosmetica/slider/slide1.png');
  @extend .slider1;
}
.heightFix{
	height: 500px;
}

.slide2 {
  background-image: url('/images/servicios/dermatologia-cosmetica/slider/slide1.png');
  @extend .slider1;
}

.title{
	color: $white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 42px;
	font-family: $fontA;
	letter-spacing: 12px;
}
