@import "../../../../theme/wrappers/wrappers.scss";
@import "../../../../theme/titles/titles.scss";
@import "../../../../theme/paragraphs/paragraphs.scss";
@import "../../../../theme/buttons/buttons.scss";

// left column with blue background
.wr4 {
  height: 620px;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;

  h2 {
    @extend .title2;
  }

  p {
    @extend .par1;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  label {
    @extend .par1;
    font-size: 12px;
    text-align: left!important;
  }

  a {
    @extend .btn4white;
    margin-top: 80px;
  }

  input, textarea {
    background: $blue;
    border: none;
    color: $white;
    height: 30px;
    width: 90%;
  }

  textarea {
    height: 80px;
  }
}
