@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
.active{
  a {
    color: $red;
  }
}

#dermatologia-cosmetica {

  .service_content {
    background: red;
  }
}

#dermatologia-clinica {
  .service_content {
    background: blue;
  }
}

#tratamientos-dermatologicos {
  .service_content {
    background: yellow;
  }
}
