@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/serviceControl/serviceControl';
// ---- Heaer
.banner {
  background-size: cover;
  background-position: center top;
  height: 300px;
  margin-bottom: 50px;
  h2{
  	margin-top: 0;
  }
}
.heightFix{
	height: 300px;
}
// dermatologia-cosmetica
.dermatologia-cosmetica-h {
  background-image: url('/images/servicios/dermatologia-cosmetica/banner/banner.png');
  @extend .banner;
  h1{
    @extend .title_dermatologia_cosmetica;
  }
}

// dermatologia-clinica
.dermatologia-clinica-h {
  background-image: url('/images/servicios/dermatologia-clinica/banner/banner.png');
  @extend .banner;
  h1{
    @extend .title_dermatologia_clinica;
  }
}

// tratamientos-dermatologicos
.tratamientos-dermatologicos-h {
  background-image: url('/images/servicios/tratamientos-dermatologicos/banner/banner.png');
  @extend .banner;
  h1{
    @extend .title_tratamientos_dermatologicos;
  }
}

.title{
  @extend .vCenter;
	color: $white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 42px;
	font-family: $fontA;
	letter-spacing: 12px;
  margin: 0;
  padding: 25px 0;
  width: 100%;
  box-sizing: border-box;
}
.title_dermatologia_cosmetica{
  background-color: rgba(236, 100, 93, .75);
}
.title_dermatologia_clinica{
  background-color: rgba(248, 180, 19, .75);
}
.title_tratamientos_dermatologicos{
  background-color: rgba(202, 221, 23, .75);
}
