// ---- main slider

.slider1 {
  background-size: cover;
  height: 500px;
}

.slide1 {
  background-image: url('/images/home/banner/slider_01.png');
  @extend .slider1;
}

.slide2 {
  background-image: url('/images/home/banner/slider_02.png');
  @extend .slider1;
}
