.par1 {
	color: $white;
	font-size: 14px;
	font-family: $fontB;
}
.par2{
	color: $gray;
	font-size: 14px;
	font-family: $fontB;
	b{
		font-family: $fontBBold;
		font-size: 24px;
	}
	span{
		display: block;
	}
}