@import '../../../../theme/constants';

.service_0 {
  // todo: change this for the right element
  color: $red;
}

.service_1 {
  // todo: change this for the right element
  color: $orange;
}

.service_2 {
  // todo: change this for the right element
  color: $green;
}

.active {
  // todo: change this for the right element
  background: $blueGray;
}
