$sprites-button_arrow_blue: -606px -370px 23px 25px;
$sprites-button_arrow_white: -802px -622px 14px 16px;
$sprites-carousel_control_triangle: -802px -0px 167px 322px;
$sprites-imagen-doctor: -290px -0px 512px 230px;
$sprites-imagen-enfermeras: -0px -425px 285px 215px;
$sprites-imagen-facebook: -581px -370px 25px 25px;
$sprites-imagen-logo-farmacia: -290px -370px 291px 49px;
$sprites-imagen-marca-aderma: -802px -547px 160px 75px;
$sprites-imagen-marca-avene: -285px -565px 160px 75px;
$sprites-imagen-marca-cetaphil: -802px -322px 160px 75px;
$sprites-imagen-marca-le-roche-posay: -802px -397px 160px 75px;
$sprites-imagen-marca-vichy: -802px -472px 160px 75px;
$sprites-imagen-productos: -0px -0px 290px 425px;
$sprites-imagen-tratamiento-360: -530px -425px 245px 140px;
$sprites-imagen-tratamiento-acne: -285px -425px 245px 140px;
$sprites-imagen-tratamiento-depilacion-laser: -535px -230px 245px 140px;
$sprites-imagen-tratamiento-melasma: -290px -230px 245px 140px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon-sprites {
  background-image: url('/images/sprites/sprite-sprites.png');
}