$sprites-button_arrow_blue: -1380px -230px 23px 25px;
$sprites-button_arrow_white: -1403px -230px 14px 16px;
$sprites-carousel_control_triangle: -0px -725px 167px 322px;
$sprites-imagen-clinica-doctor: -290px -300px 460px 260px;
$sprites-imagen-clinica-equipo: -460px -0px 450px 300px;
$sprites-imagen-clinica-equipo2: -0px -0px 460px 300px;
$sprites-imagen-doctor: -910px -0px 512px 230px;
$sprites-imagen-enfermeras: -910px -230px 285px 215px;
$sprites-imagen-facebook: -1355px -230px 25px 25px;
$sprites-imagen-logo-farmacia: -290px -560px 291px 49px;
$sprites-imagen-marca-aderma: -750px -375px 160px 75px;
$sprites-imagen-marca-avene: -750px -450px 160px 75px;
$sprites-imagen-marca-cetaphil: -1195px -230px 160px 75px;
$sprites-imagen-marca-le-roche-posay: -1195px -305px 160px 75px;
$sprites-imagen-marca-vichy: -750px -300px 160px 75px;
$sprites-imagen-productos: -0px -300px 290px 425px;
$sprites-imagen-tratamiento-360: -1155px -585px 245px 140px;
$sprites-imagen-tratamiento-acne: -910px -585px 245px 140px;
$sprites-imagen-tratamiento-depilacion-laser: -910px -445px 245px 140px;
$sprites-imagen-tratamiento-melasma: -1155px -445px 245px 140px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon-sprites {
  background-image: url('/images/sprites/sprite-sprites.png');
}