$sprites-button_arrow_blue: -1497px -697px 23px 25px;
$sprites-button_arrow_orange_left: -1422px -697px 25px 40px;
$sprites-button_arrow_orange_right: -1447px -697px 25px 40px;
$sprites-button_arrow_white: -1532px -697px 14px 16px;
$sprites-button_arrow_white_simple: -1520px -697px 12px 20px;
$sprites-carousel_control_triangle: -1422px -0px 167px 322px;
$sprites-imagen-clinica-doctor: -290px -700px 460px 260px;
$sprites-imagen-clinica-equipo: -962px -300px 450px 300px;
$sprites-imagen-clinica-equipo2: -962px -0px 460px 300px;
$sprites-imagen-doctor: -750px -700px 512px 230px;
$sprites-imagen-enfermeras: -512px -400px 285px 215px;
$sprites-imagen-equipo-doctor-ana: -0px -1125px 200px 115px;
$sprites-imagen-equipo-doctor-carlos: -200px -1125px 200px 115px;
$sprites-imagen-equipo-doctor-jorge: -0px -400px 512px 300px;
$sprites-imagen-equipo-doctor-jorge2: -400px -1125px 200px 115px;
$sprites-imagen-equipo-doctor-prisicilla: -450px -0px 512px 300px;
$sprites-imagen-facebook: -1472px -697px 25px 25px;
$sprites-imagen-logo-farmacia: -962px -600px 291px 49px;
$sprites-imagen-marca-aderma: -1422px -622px 160px 75px;
$sprites-imagen-marca-avene: -1422px -322px 160px 75px;
$sprites-imagen-marca-cetaphil: -1422px -397px 160px 75px;
$sprites-imagen-marca-le-roche-posay: -1422px -472px 160px 75px;
$sprites-imagen-marca-vichy: -1422px -547px 160px 75px;
$sprites-imagen-productos: -0px -700px 290px 425px;
$sprites-imagen-tratamiento-360: -780px -960px 245px 140px;
$sprites-imagen-tratamiento-acne: -535px -960px 245px 140px;
$sprites-imagen-tratamiento-depilacion-laser: -1025px -960px 245px 140px;
$sprites-imagen-tratamiento-melasma: -290px -960px 245px 140px;
$sprites-wrapper-flechas-azules-ubicaciones: -0px -0px 450px 400px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
  @return nth($sprite, 3);
}
@function sprite-height($sprite) {
  @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
.icon-sprites {
  background-image: url('/images/sprites/sprite-sprites.png');
}