@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';

// --- IMAGES

.image3 {
	margin-bottom: 45px;
}
.image4 {
	margin: 0 auto;
}

// --- PARAGRAPHS

.par2 {
	margin-bottom: 30px;
}

// --- BOTONES

.btn4{
	margin-bottom: 45px;
}
