@import '../../../../theme/wrappers/wrappers.scss';
@import '../../../../theme/constants.scss';

.blockWrapper1 {
  background-image: url('/images/la-clinica/wrapper-flechas-blancas.png');
  background-size: cover;
  background-position: center top;
  height: 275px;
}

.wr4 {
  height: inherit;

  h2 {
    color: $white;
    max-width: 900px;
    margin: 0 auto;
    @extend .vCenterRel;
  }
}
