@import '../../../theme/buttons/buttons';
@import '../../../theme/titles/titles';
@import '../../../theme/wrappers/wrappers';
@import '../../../theme/constants.scss';
// ---- BUTTON COLORS
.btn-service1 {
  color: $red;
  &:hover{
    color: lighten( $red, 5% );
  }
  &::after{
    @include sprite($sprites-button_arrow_red);
  }
}

.btn-service2 {
  color: $orange;
  &:hover{
    color: lighten( $orange, 10% );
  }
  &::after{
    @include sprite($sprites-button_arrow_yellow);
  }
}
.btn-service3 {
  color: $green;
  margin-bottom: 100px;
  &:hover{
    color: lighten( $green, 10% );
  }
  &::after{
    @include sprite($sprites-button_arrow_green);
  }
}
// --- Responsive
@media #{$isPhone}{

}
