@import '../constants';
// ********** Controls **********
.control{
  width: 100%;
  @extend .vCenter;
  a{
    @extend .vCenter;
    content: "";
		@extend .icon-sprites;
    left: 0;
	}
  a:first-child{
    left: 0;
  }
  a:last-child{
    right: 0;
  }
}
.control1 {
  @extend .control;
  @extend .icon-sprites;
	@include sprite($sprites-carousel_control_triangle);
	a{
		display: none;
    @extend .icon-sprites;
  }
}
.control2{
  @extend .control;
  a:first-child{
    @include sprite($sprites-button_arrow_orange_left);
  }
  a:last-child{
    @include sprite($sprites-button_arrow_orange_right);
  }
}

//  ********** Indicators **********
.indicator1 {
	li{
		border: 2px solid $white;
		margin: 0 5px;
	}
	.active{
		background-color: $blue;
		border: 2px solid $blue;
		margin: 0 20px;
	}
}
.indicator2{

}
